html {
    box-sizing: border-box;
    font-size: 16px;
} 
*, *:before, *:after {
box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}
ol, ul {
 list-style: none;
} 
  /*img {
    max-width: 100%;
    height: auto;
  }*/
body {
    position: absolute;
    font-family: "Revalia", sans-serif;
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 100%;
}
/* .header*/
.header-container {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    width: 100%;
    padding-top: 57px;
    padding-left: 30px; /*402px*/
    padding-right: 30px; /*402px*/
    padding-bottom: 178px;
    background-color: #EEEFF1;
}
.header-container-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 162px;
}
.header-logo {
    font-family: "Revalia", sans-serif;
    font-size: 48px;
    line-height: auto;
    font-weight: 400;
    color: #34547A;
}
.header-navigation {
    min-height: 16px;
    max-width: 611px;
    flex-direction:row;
    text-decoration: none;
}
.header-navigation1 {
    color: #000000;
    text-decoration: none;
    padding-right: 42px;
    font-size: 16px;
    line-height: 164.1%;
}
.header-navigation1:hover {
    color: #34547A;
}
.header-navigation2 {
    color: #000000;
    text-decoration: none;
    padding-right: 42px;
    font-size: 16px;
    line-height: 164.1%;
}
.header-navigation2:hover {
    color: #34547A;
}
.header-navigation3 {
    color: #000000;
    text-decoration: none;
    padding-right: 42px;
    font-size: 16px;
    line-height: 164.1%;
}
.header-navigation3:hover {
    color: #34547A;
}
.header-navigation4 {
    color: #000000;
    text-decoration: none;
    padding-right: 42px;
    font-size: 16px;
    line-height: 164.1%;
}
.header-navigation4:hover {
    color: #34547A;
}
.header-navigation5 {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 164.1%;
}
.header-navigation5:hover {
    color: #34547A;
}
.header-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 131px
}

.header-img {
    max-width: 100%;
    max-width: 100%;
}

.header-block {
   max-width: 540px;
}
.header-title {
    font-size: 48px;
    line-height: 164.1%;
    font-weight: 500;
    margin-bottom: 60px;
}
.header-text {
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    margin-bottom: 60px;
    color: #727272;
}
.messag-link {
    display: block;
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto", sans-serif;   /* вопрос???*/
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    line-height: 65px;  /* 164% */
    text-align: center;
}
.messag-link:hover {
    color: rgba(109, 210, 244);
    padding: 1px;
    width: 235px;
    height: 75px;
    margin-bottom: -10px;
    line-height: 75px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.192);
}

@media (max-width: 1087px) {
    .header-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .header-container-2 {
        gap: 65.5px
    }
    .header-container-1 {
        margin-bottom: 100px;
    }
    .header-container {
        padding-top: 39px;
        padding-bottom: 119px;
    }
}

@media (max-width: 800px) {
    .header-navigation {
        display: flex;
        flex-direction: column;
        align-items:first baseline;
    }
    .header-container-1 {
        width: 100%;
        display: flex;
        
        flex-direction: row;
        align-items: center;
    }
    .header-container {
        padding-top: 29px;
        padding-bottom: 89px;
    }

}

/* .main*/
.me {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 112px;
    padding-left: 40px; /*715px*/
    padding-right: 40px; /*715px*/
    padding-bottom: 101px;
}

.me-block{
    max-width: 540px;
}

.me1 {
    text-align: center;
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    margin-bottom: 49px;
}

.me2 {
    text-align: center;
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    color: #727272;
}

@media (max-width: 600px) {
    .me {
        padding-top: 56px;
        padding-bottom: 50px;
    }
    .me1 {
        margin-bottom: 24.5px;
    }
}

/* .main2*/
.main2-img-wraper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;  /*1920px*/
    padding-top: 100px;
    padding-left: 49px;  /* 405px*/
    padding-right: 49px; /* 405px*/
    padding-bottom: 100px;
    background-color: #34547A;
    gap: 49px;
}

@media (max-width: 600px) {
    .main2-img-wraper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* .main3*/
.main3-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 102px;
    padding-left: 30px;  /*386px*/
    padding-right: 30px; /*386px*/
    padding-bottom: 101px;
    background-color: #FFFFFF;
    gap: 150px;
}

.main3-TEXT {
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    padding-bottom: 50px;
}

.main3-block{
    margin-bottom: 30px;
}
.main3-text1 {
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    color: #727272;
    padding-bottom: 20px;
}
.main3-scale1 {
    min-width: 100%;
    min-height: 4px;
    display: inline-block;
    position: relative;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.main3-scale1::after{
    content: '';
    display: block;
    min-width: 100%;
    height: 4px;
    position: absolute;
    background: url('images/blueLine.png') no-repeat; 
}

.main3-text2 {
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    color: #727272;
    padding-bottom: 20px;
}
.main3-scale2 {
    min-width: 100%;
    min-height: 4px;
    display: inline-block;
    position: relative;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.main3-scale2::after{
    content: '';
    display: block;
    min-width: 100%;
    height: 4px;
    position: absolute;
    background: url('images/blueLine.png') no-repeat; 
}

.main3-text3 {
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    color: #727272;
    padding-bottom: 20px;
}
.main3-scale3 {
    min-width: 100%;
    min-height: 4px;
    display: inline-block;
    position: relative;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.main3-scale3::after{
    content: '';
    display: block;
    min-width: 100%;
    height: 4px;
    position: absolute;
    background: url('images/blueLine.png') no-repeat; 
}

.main3-foto{
    max-width: 100%;
    max-width: 100%;
}

@media (max-width: 600px) {
    .main3-container {
        padding-top: 51px;
        padding-bottom: 50.5px;
        gap: 75px;
    }
}
@media (max-width: 520px) {
    .main3-block {
        max-width: 356px;
    }
    .main3-scale1 {
        width: 100%;
        min-height: 4px;
    }
    .main3-scale1::after{
        min-width: 80%;
        height: 4px;
    }
    .main3-scale2 {
        width: 100%;
        min-height: 4px;
    }
    .main3-scale2::after{
        min-width: 80%;
        height: 4px;
    }
    .main3-scale3 {
        width: 100%;
        min-height: 4px;
    }
    .main3-scale3::after{
        min-width: 80%;
        height: 4px;
    }
}

/* .main4*/
.main4-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 30px;  
    padding-right: 30px; 
    padding-bottom: 100px;
    background-color: #EEEFF1;
}

.main4-block1 {
    padding-bottom: 57px;
    max-width: 540px;
}
.main4-title{
    text-align: center;
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    margin-bottom: 50px;
}
.main4-text {
    text-align: center;
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    color: #727272;
}

.VideoC{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.VideoC::after{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/playV.png') no-repeat;
}

@media (max-width: 600px) {
    .main4-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main4-block1 {
        padding-bottom: 28.5px;
    }
    .main4-title{
        margin-bottom: 25px;
    }
}

/* main-kostile-1 */
.main-kostile-1{
    background-color: #FFFFFF;
    width: 100%;
    min-height: 28px;
}

/* .main5*/
.main5-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /* min-height: 960px;*/
}

.main5-block1 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block1:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block1:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block2 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block2:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block2:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block3 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block3:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block3:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block4 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block4:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block4:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block5 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block5:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block5:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block6 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block6:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block6:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block7 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block7:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block7:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

.main5-block8 {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5-block8:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8;
}
.main5-block8:hover::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url('images/eye.png') no-repeat;
   z-index: 100;
}

/* .main6*/
.main6-img-wraper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 72px;
    padding-left: 30px; /*405px*/
    padding-right: 30px; /*405px*/
    padding-bottom: 100px;
    background-color: #FFFFFF;
    gap: 30px;
}

@media (max-width: 600px) {
    .main6-img-wraper {
        padding-top: 36px;
        padding-bottom: 50px;
    }
}

/* .main7*/
.main7-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 30px;  /*690px*/
    padding-right: 30px; /*690px*/
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EEEFF1;
}
.main7-block1 {
    padding-bottom: 65px;
    max-width: 540px;
}
.main7-title {
    text-align: center;
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    margin-bottom: 50px;
}
.main7-text {
    text-align: center;
    /*text-indent: 7%;  вопрос???*/
    font-size: 16px;
    line-height: 164.1%;
    font-weight: 400;
    color: #727272;
}

.name-email {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 30px;
}
.form-name {
    width: 255px;
    height: 50px;
    border: 0;
    text-indent: 20px; /* вопрос???*/
}
/*.form-name-container{
    padding-right: 30px; 
}*/
.form-email {
    width: 255px;
    height: 50px;
    border: 0;
    text-indent: 20px; /* вопрос???*/ 
}
.form-messag {
    max-width: 540px;
    /*height: 175px;*/
    padding-inline: 0;
    padding-top: 17px;
    padding-bottom: 143px;
    border: 0;
    text-indent: 20px; /* вопрос???*/
    padding-left: 10px;
    padding-right: 10px;
}
textarea { 
    resize: none;
  }
.form-messag-container{
    padding-bottom: 50px; 
    align-items: center;  
    justify-content: center;
    max-width: 540px;
}
.form-link {
    display: block;
    width: 190px;
    height: 55px;
    background-color: #34547A;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 55px;  /* 164% */
    text-align: center;
}
.form-link:hover {
    color: rgba(109, 210, 244);
    padding: 1px;
    width: 200px;
    height: 65px;
    margin-bottom: -10px;
    line-height: 65px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.192);
}

@media (max-width: 600px) {
    .main7-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main7-block1 {
        padding-bottom: 32.5px;
    }
    .main7-title {
        margin-bottom: 25px;
    }
    .form-messag {
        max-width: 255px;
    }
    .name-email {
        flex-direction: column;
        gap: 20px;
    }
    .form-messag-container{
        padding-bottom: 35px; 
    }
}

/* .footer*/
.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
    padding-left: 40px; /* 406px*/
    padding-right: 40px; /*406px*/
    padding-bottom: 50px;
    background-color: #34547A;;
}
.footer-container1 {
    min-width: 193px;
}
.footer-name {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
    line-height: auto; /* 24.61px*/
    margin-bottom: 20px;
    max-height: 19px
}
.footer-year {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 164.1%; /*21.33px*/
    max-height: 12px;
}
.footer-VK {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 175px;
}

@media (max-width: 600px) {
    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .footer-name {
        text-align: center;
    }
}
