html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}
  
ol, ul {
 list-style: none;
}
  
  /*img {
    max-width: 100%;
    height: auto;
  }*/
body {
    font-family: "Revalia", sans-serif;
    font-family: "Roboto", sans-serif;
}
/* .header*/
.header-container {
    display: flex;
    width: 1920px;
    padding-top: 57px;
    padding-left: 402px;
    padding-right: 402px;
    padding-bottom: 178px;
    background-color: #EEEFF1;
}

.header-logo {
    font-family: "Revalia", sans-serif;
    margin-bottom: 161px;
    font-size: 48px;
    line-height: auto;
    font-weight: 400;
    color: #34547A;
}

.header-navigation {
    flex-direction:row;
    text-decoration: none;
}
.header-navigation1 {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 164%;
}
.header-navigation1:hover {
    color: #34547A;
}
.header-navigation2 {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 164%;
}
.header-navigation2:hover {
    color: #34547A;
}
.header-navigation3 {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 164%;
}
.header-navigation3:hover {
    color: #34547A;
}
.header-navigation4 {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 164%;
}
.header-navigation4:hover {
    color: #34547A;
}
.header-navigation5 {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 164%;
}
.header-navigation5:hover {
    color: #34547A;
}
.header-title {
    font-size: 48px;
    line-height: 164%;
    font-weight: 500;
    margin-bottom: 60px;
}
.header-text {
    font-size: 16px;
    line-height: 164%;
    font-weight: 400;
    margin-bottom: 60px;
}
.messag-link {
    display: block;
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 65px;  /* 164% */
    text-align: center;
}
.messag-link:hover {
    color: rgba(109, 210, 244);
    padding: 1px;
    width: 235px;
    height: 75px;
    margin-bottom: -10px;
    line-height: 75px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.192);
}
/* .main*/
.me {
    width: 1920px;
    padding-top: 39px;
    padding-left: 715px;
    padding-right: 715px;
    padding-bottom: 25.5px;
   /* background-color: #a4bef3;*/
}
.me1 {
    text-align: center;
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    margin-bottom: 49px;
}
.me2 {
    text-align: center;
    font-size: 16px;
    line-height: 164%;
    font-weight: 400;
}
/* .main2*/
.main2-img-wraper {
    display: flex;
    justify-content: space-between;
    width: 1920px;
    padding-top: 100px;
    padding-left: 405px;
    padding-right: 405px;
    padding-bottom: 100px;
    background-color: #34547A;
}
/* .main3*/
.main3-container {
    display: flex;
    width: 1920px;
    padding-top: 102px;
    padding-left: 386px;
    padding-right: 386px;
    padding-bottom: 101px;
    background-color: #FFFFFF;
}
.main3-block1 {
    padding-right: 150px;
}
.main3-TEXT {
    font-size: 32px;
    line-height: auto;
    font-weight: 500;
    padding-bottom: 50px;
}
.main3-text1 {
    font-size: 16px;
    line-height: 164%;
    font-weight: 400;
    color: #727272;
}
.main3-text2 {
    font-size: 16px;
    line-height: 164%;
    font-weight: 400;
    color: #727272;
}
.main3-text3 {
    font-size: 16px;
    line-height: 164%;
    font-weight: 400;
    color: #727272;
}
/* .main4*/
.main4-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
    background-color: #EEEFF1;
}
.main4-block1 {
    display: flex;
    flex-direction: column;
}


/* .main5*/
.main5-container {
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    min-height: 960px;
    /*height: auto;*/

    /*height: 960px;*/ 
    background-color: rgb(52, 84, 122, 0.8);

    /*background-color: #34537a;*/
}
.main5-block1 {
    z-index: 1;
}
.main5-block1:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
    background-image: url(images/eye.png);
    z-index: 2;

}
.main5-block2:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
.main5-block3:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
.main5-block4:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
.main5-block5:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
.main5-block6:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
.main5-block7:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
.main5-block8:hover {
    /*box-shadow: -10 -10 50px 10px rgba(255, 255, 0, 0.9);*/
    mix-blend-mode: multiply;
}
/* .main6*/
.main6-img-wraper {
    display: flex;
    justify-content: space-between;
    width: 1920px;
    padding-top: 100px;
    padding-left: 405px;
    padding-right: 405px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
/* .main7*/
.main7-container {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    justify-content: center;
    padding-left: 690px;
    padding-right: 690px;
    width: 1920px;
    background-color: #EEEFF1;
}
.main7-block1 {
    padding-top: auto; /* 75px*/
}
.form-name {
    width: 255px;
    height: 50px;
}
.form-email {
    width: 255px;
    height: 50px;
}
.form-messag {
    width: 540px;
    height: 175px;
}
.form-link {
    display: block;
    width: 190px;
    height: 55px;
    background-color: #34547A;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 55px;  /* 164% */
    text-align: center;
}
.form-link:hover {
    color: rgba(109, 210, 244);
    padding: 1px;
    width: 200px;
    height: 65px;
    margin-bottom: -10px;
    line-height: 65px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.192);
}
/* .footer*/
.footer-container {
    display: flex;
    justify-content: space-between;
    
    width: 1920px;
    padding-top: 100px;
    padding-left: 406px;
    padding-right: 406px;
    padding-bottom: 100px;
    background-color: #34547A;;
}
.footer-name {
    color: #FFFFFF;
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 20px;
    
}
.footer-year {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 21.33px;
}
.footer-VK {
    display: flex;
    justify-content: center;
    align-self: center;
   /* margin-top: 15px;*/
    height: 40px;
    width: 175px;
}
